body {
	font-size: .75em;
}

header .bi-arrow-left-square, .bi-arrow-right-square {
	font-size: 30px;
	opacity: .2;
}

header button {
	background: none;
	border: none;
}

img {
	width: 2em;
}

#games .text-bg-secondary {
	font-size: .5em;
}

.A {
	color: var(--bs-warning-text-emphasis);
	opacity: .8;
}
.J {
	color: var(--bs-danger-text-emphasis)
}
.S {
	color: var(--bs-primary-text-emphasis)
}
.V {
	color: var(--bs-success-text-emphasis)
}