body {
	font-size: .7em;
}

.bi-arrow-left-square, .bi-arrow-right-square {
	font-size: 30px;
	opacity: .3;
}

img {
	width: 2em;
}

.score-clock {
	top: 5px;
}

.score-clock .rounded-pill {
	font-size: .5em;
	margin-top: 2px;
}