@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
	font-size: 0.75em;
}

header .bi-arrow-left-square,
.bi-arrow-right-square {
	font-size: 30px;
	opacity: 0.2;
}

header .btn {
	background: none;
	border: none;
}

img {
	width: 2em;
}

#games .text-bg-warning {
	font-size: 0.5em;
	opacity: 0.8;
}

.A {
	color: #2ecc40;
}
.J {
	color: #ff851b;
}
.S {
	color: #0074d9;
}
.V {
	color: #b10dc9;
}

.table-sm td {
	padding: 0;
}
